<ul>
  <li>
    <a [routerLink]="['users']">users</a>

  </li>
  <li>
    <a [routerLink]="['posts']">posts</a>
  </li>
</ul>

<router-outlet></router-outlet>
<hr>

<!--<form #form="ngForm" (ngSubmit)="submit(form)">-->
<!--  <div>-->
<!--    <input type="text" [(ngModel)]="user.id" name="id">-->
<!--  </div>-->
<!--  <div>-->
<!--    <input minlength="10" type="text" [(ngModel)]="user.name" name="name">-->

<!--    <div *ngIf="form.invalid">-->
<!--      name must be at least 10 characters long-->
<!--    </div>-->
<!--  </div>-->
<!--  <button>check</button>-->
<!--</form>-->


<form #selectForm='ngForm' (ngSubmit)="select(selectForm)">

  <select name="id" [(ngModel)]="id">
    <!--    <option *ngFor="let p of posts" value="p.id">p.title</option>-->
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>

  </select>

  <button>selectUser</button>

</form>





